<% if policy(@wiki).show? %>
  <div class="container">
    <div class="col-md-8">
      <h1><%= markdown_to_html @wiki.title %></h1>
      <p><%= markdown_to_html @wiki.body %></p>
      </div>

      <div class="pull-right col-md-3">
        <% if policy(@wiki).edit? %>
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
      <% end %>

      <% if policy(@wiki).destroy? %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
      <% end %>

      <% if @wiki.public == false %>
        <h4>Wiki owner: <%= @wiki.user.name %></h4>
        <h5>Collaborators:</h5> 
        <div class='js-collaborators'>
          <%= render partial: 'collaborators/collaborator', collection: @collaborators %>
        </div>
          <% if @wiki.user_id == current_user.id || current_user.admin? %> 
            <div class='new-collaborator'>
            <%= render 'collaborators/users' %>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %> 